h1, h2,h3, h4, li, img, div{
    margin: 20px 20px 20px 20px;
    padding-top: 20px;
}



/* General Text Styling*/
 
h1 { 
  font-family: "Montserrat", "Trebuchet MS", Helvetica;
  font-size: 35px; 
  line-height: 1.1px;
  font-weight: bold;
  text-align:center;
  text-transform: uppercase;
}

h2 { 
  font-family: "Montserrat";
  font-size: 20px; 
  font-style: bold;
  text-transform: uppercase;
}

h3, h4{ 
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

p{
  color: #423634;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  font-family: "Montserrat", sans-serif;
  line-height: 24px;
  font-size: 16px;
}

a.skip{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

a.skip:focus{
  top:20px;
  color: black;
  text-decoration-style: solid;
  background-color: rgba(253, 194, 204, 0.829); 
}

/******** ----------Index Page ----------- *******/
header{
  text-align: center;
}
.site-title{
    border: none;
    height: auto; 
    width: 30%;
    margin-bottom: 0;
    min-width: 230px;
    min-height:140px;
 }

 #h1-home {
   /* visibility: hidden; */
   margin: 20px;
   padding: 20px;
   font-size: 20px;
 }
 #logo{ 
  animation-name: grow;
  animation-duration: 5s;
 }

 @keyframes grow{ 
  from {width: 25px;
    opacity: 0;}
to {width: 300px;
    opacity: 1;}

}

/* Navigation Bar Styling */
nav { 
    width: 100%;   
}

div.sticky{
  position: sticky;
  top: 0;
  margin: 0;
  padding: 0;
  background-color: white;
}
nav ul { 
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    margin: 0;
    margin-left: 40px;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    justify-content: space-evenly;
    width: 90%;
    font-size: 13px;
}

nav li { 
    display: inline-block; 
    padding: 30px;
    color: black;
    text-decoration: none;
    margin: 10px;
    padding:0;
 }

 nav li a { 
     text-decoration: none;
     color: black;
     text-transform: uppercase;
  }

 nav a:hover{ 
     color: #696969;
 }

.active a{
    /* text-decoration: underline 4px;
    text-decoration-color: pink; */
    cursor: pointer;
    border:rgba(253, 194, 204, 0.829) solid;
}

/*Index page gallery slider */
.gallery-slide > img {
  animation: imageAnimation 30s linear infinite 0s;
  backface-visibility: hidden;
  background-size: cover;
  background-position: center center;
  color: transparent;
  position: absolute;
  left: 0px;
  opacity: 0;
  height: 80%;
  z-index: 0;
  width:100%;
  object-fit: cover;
  overflow: hidden;
}

.gallery-slide > img:nth-child(1) { 
  background-image: url("../images/about-me-china.jpg"); }
.gallery-slide > img:nth-child(2) {
  animation-delay: 6s;
  background-image: url("../images/about-me-hk.jpg");
}
.gallery-slide > img:nth-child(3) {
  animation-delay: 12s;
  background-image: url("../images/bryce-solo.jpg");
}
.gallery-slide > img:nth-child(4) {
  animation-delay: 18s;
  background-image: url("../images/about-me-tulum.jpg");
}
.gallery-slide > img:nth-child(5) {
  animation-delay: 24s;
  background-image: url("../images/about-me-valley-of-fire.jpg");
}

@keyframes 
imageAnimation {  0% {
 opacity: 0;
}
 8% {
 opacity: 1;
}
 17% {
 opacity: 1;
}
 25% {
 opacity: 0;
}
 100% {
 opacity: 0;
}
}

/* About me Styling */
.about-me{ 
  margin-top: 700px;
  text-align: center;
  margin-left: 0;
  width: 100%;
  background-color: #f0d8d8;
}
.about-me img{
  box-sizing: content-box;
  padding: 0;
  margin: 40px;
}

.intro-abt-me{
  padding-bottom: 20px;
}

p#intro { 
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 23px;
  margin-bottom: 20px;
  
}
.about-me p{
  font-family: "Montserrat", sans-serif;
  line-height: 24px;
  font-size: 16px;
}

.about-me img{
  transition: 1s ease;
}

/*Image Styling*/
img{ 
    margin: 10px; 
    padding: 20px;
    width: 300px;
    height: auto;
    box-sizing: border-box;
    transition: 1s ease;
 }

/* Gallery in Home Page Styling*/
.gallery img {
    border: none;
    transition: 1s ease;
    }
    
.gallery img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
    }
/* Index Grid styling*/ 
.index-grid{ 
  display: none;
}

/*Footer Styling*/ 
footer{
    text-align: center;
    margin-top: 50px;
}

/* footer icon styling*/
.fa-brands, .fab {
    font-family: "Font Awesome 6 Brands";
    font-weight: 300;
}

.icons a:link{ 
    color: #222222;
    text-decoration: none;
}
.icons a:visited{ 
    color: #222222;
}

div.icons{ 
  margin:0;
}

footer p{
  margin-top: 50px;
}

footer a{ 
  font-size: 11px;
  text-decoration: none;
  color: white;
}
footer a:visited{
  text-decoration: none;
  color: white;
}

.contact-form-button{
  background-color:rgba(238, 149, 164, 0.904);
  color: black;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  margin: 1rem 15%;
}



@media screen and (min-width: 700px) {
  /* About Me Section */
    .intro-abt-me { 
      align-self: center;
    }

    /* .flip-card-back{
      visibility: hidden;
    } */

    .about-me{ 
      margin-top: 50px;
      display: flex;
      flex-direction: row;
    }

    nav ul { 
      flex-direction: row;
    }

    .index-grid{ 
      margin-top: 600px;
      display: grid; 
      grid-template-columns: 1fr 1fr;
      visibility: visible;
      justify-items: center;
    }

    .index-grid img{ 
      height: 85%;
      width: 70%;
      object-fit: cover;
      object-position: top;
      overflow: hidden;
    }

    .contact-form-button{
      padding: .75rem 2rem;
    }

    footer a{ 
      font-size: 13px;
    }
    div.flip-card, div.flip-card-front, div.flip-card-back, div.flip-card-inner{
      margin:0;
      padding:0;
    }

    
}

@media screen and (min-width: 1000px) {
  .about-me{
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .about-me img{ 
    margin: 20px;
  }

  .about-me p{ 
    font-size: 16px;
  }

  .flip-card-back p{ 
    visibility: visible;
  }

  .intro-abt-me{
    padding-top: 50px;
    padding-bottom: 50px;
  }
  header{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    align-items: center;
  }
  .site-title{
    width: 20%;
    margin-left: 20px;
  }
  nav ul{ 
    margin-left: 0px;
    margin-right: 150px;
    font-size: 0.80em;
  }
  .index-grid{ 
    margin-top: 600px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }
  /* Typing Effect */ 
  p#intro{ 
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto 20px 0; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 4.5s steps(40, end),
      blink-caret .75s step-end infinite; 
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  } 
  /* Flip Card */
  
  .flip-card {
    background-color: transparent;
    width: 100%;
    height: 100%;
    perspective: 1000px;
  }
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  

  .flip-card:hover .flip-card-inner, .flip-card:focus .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 50vh;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .flip-card-front {
    background-color: transparent;
    color: black;
  }

  .flip-card-back {
    background-color: transparent;
    color: black;
    transform: rotateY(180deg);
  }

  .flip-card-back p{ 
    font-family: "Montserrat", "Trebuchet MS", Helvetica;
  }

  .flip-card-front img, .flip-card-back img{
    width: 60%;
  }
}

/**** ----------Content Page : KL, Wyoming, Utah ------------ ****/
#kl-header{ 
  object-fit: fill;
  width:100%;
  height: 10%;
  margin:0;
  padding:0;
}
#utah-header { 
  object-fit: fill;
  width: 100%;
  height: 10%;
}
#wyoming-header{
  object-fit: fill;
  width: 100%;
  height: 20%;
}

 .content-utah{ 
  display: flex;
  flex-direction: column; 
  flex-wrap: wrap;
}

.content-wyoming{ 
  display: flex; 
  flex-direction: column; 
  flex-wrap: wrap;
}

/* ***------------ Kuala Lumpur -------------****/
.kl-flex, .kch-flex, .hokow-flex, .batu-flex, .icc-flex{ 
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-evenly;
}


/* ***------------ Wyoming -------------****/
div.wyoming-teton-1, div.wyoming-ys-1{
  margin: 0;
  padding:0;
}

.wyoming-teton-1{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#wyoming-picnic { 
  align-self: center;
}

.wyoming-ys-1 { 
  text-align: -webkit-center;
}
/* ***---------- Utah -------------- ****/
.zion-flex-1, .zion-flex-2, .bryce-flex, .arches-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
/* -------- Responsive Design for Content Pages -------*/
@media screen and (min-width: 700px) {
  .kl-flex, .kch-flex, .hokow-flex, .batu-flex, .icc-flex{
    flex-direction: row;
  }

  .zion-flex-1, .zion-flex-2, .bryce-flex, .arches-flex{
    flex-direction: row;
  }

  .wyoming-teton-1, .wyoming-ys-1{ 
    flex-direction: row;
  }

}
@media screen and (min-width: 1000px) {
  /* KL Content Page */
  #kl-flex-1{
    flex-basis: 70vw;
  }

  #icc-grp{ 
    flex-basis: 70vw;
  }
  
  /* Wyoming Content Page */
  #wyoming-p4{
    flex-basis: 80vw;
  }

  #wyoming-picnic{
    width: 50%;
  }

  #ys-main{ 
    flex-basis: 100vw;
    width: 80%;
  }
  /* Utah Content Page */
  #zion-flex-solo, #zion-p1, #bryce-p1{
    flex-basis: 70vw;
  }
  #utah-header{
    height: 70%;
  }
}

/*** -------------- Photo Diary -------------***/
.diary-gallery{
  display: grid; 
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1rem;
  justify-items: center;
  object-fit: cover;
}

.diary-container img{
  opacity:0.75;
  transition: 1s ease;
}

.diary-container img:hover{ 
  opacity:1;
transition: 1s ease;
}

@media screen and (min-width: 700px) {
  .diary-container{ 
    cursor: pointer;
    overflow: hidden;
    box-sizing: border-box;
  }
  .diary-gallery-img{ 
  width: 100%;
  margin: 0;
  padding: 0;
  object-fit: cover;
  display: block;
  } 
  .diary-gallery{
    grid-template-columns: repeat(10, auto);
    /* grid-template-rows: repeat(12, 5vw); */
    grid-gap: 1.2rem;
  }

  .gallery-1{
    grid-column: 1 / 5;
  }
  .gallery-2{
    grid-column: 7/11;
  } 
   .gallery-3 {
    display: none;
  }
  .gallery-4{
    display: none;
  } 

  .gallery-5{
    display: none;
  }
  
  .gallery-6{
    display: none;
  }

  .gallery-7{
    grid-column: 1/11;
  }

  .gallery-8{
    grid-column: 3/9;
  }

  .gallery-9{ 
    grid-column: 1/12;
  }

  .gallery-10{
    grid-column: 1/6;
  }

  .gallery-11{ 
    grid-column: 6/11;
  }
} 
@media screen and (min-width: 1000px) {
  .diary-gallery{
    grid-template-columns: repeat(11, auto);
    grid-gap: 1.2rem;
  }

  .diary-parallax{ 
    margin-top: 50px; 
    background-image: url('../images/parallax.webp');
    width: 100%; 
    height: 80vh;
    opacity: 0.5;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .gallery-1{
    grid-column: 1/6;
  }

  .gallery-2{
    grid-column: 6/11;
  }

  .gallery-3{
    grid-column:1/4;
    display: none;
  }
  .gallery-4{
    grid-column: 2/5;
    display: unset;
  }
  .gallery-5{
    grid-column: 5/8;
    display: unset;
  }
  .gallery-6{ 
    grid-column: 8/11;
    display: unset;
  }
  .gallery-7{
    grid-column: 1/11;
  }
  .gallery-8{
    grid-column: 1/4;
  }
  .gallery-9{
    grid-column: 4/11;
  }
  .gallery-10{
    grid-column: 1/6;
  }
  .gallery-11{
    grid-column: 6/11;
  }
  
}

/**** ----------- Contact Form -------------- ****/ 
/* .contact-box{ 
  width: 50%;
} */

/* .contact-form body {
    background-color: #f0d8d8;
    padding: 20px;
  }
.contact-form {
    background-color: white;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    margin: 1rem 15%;
    /* width: 70%; 
 } */

/* .contact-logo{
  text-align: center;
}
.contact-logo img{ 
  width: 200px;
}
.contact-form1{
  background-image: url('../images/about-me-valley-of-fire.jpg');
}
form {
    border: 3px solid #f1f1f1;
  }
  
.contact-box h1{ 
    font-size: 125%;
    text-transform: uppercase;
    text-align: center;
  }
  
label{
    display: inline-block;
    margin-right:10px;
    width:15%;
    font-family: "Open Sans", sans-serif;
  }
input {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
span{
    margin-left:20%;
    font-family: italic;
    font-weight: bold;
  }
  
textarea{
    width: 90%;
    height: 35vh;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  
  }

  input[type=submit] {
    background-color: rgba(253, 194, 204, 0.829);
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  input[type=submit]:hover {
    opacity: 0.8;
  }
  
  /* Change styles for span and cancel button on extra small screens */
 /* @media screen and (min-width: 700px) {
    .contact-logo img{ 
      width: 400px;
      text-align-last: center;
    }
    
    form{
      width: 80%;
      margin: 0 auto;
    }
  
    input{
      width:80%;
    }
  
    textarea{
      width:80%;
      height: 25vh;
   }
   
   div + label{
      line-height: 25vh;
      vertical-align:top;
   }
  } */
  .contact-form {
    background-color: white;
  }
  form {
    border: 3px solid #f1f1f1;
  }
  .contact-logo{
    text-align: center;
  }
  legend{ 
    font-size: 125%;
    font-style:italic;
    text-transform: uppercase;
    text-align: center;
  }
  
  label{
    display: inline-block;
    margin-right:10px;
    margin-top: 20px;
    width:15%;
    font-family: "Montserrat", "Open Sans", sans-serif;
  }
  input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  span{
    margin-left:20%;
    font-family: italic;
    font-weight: bold;
  }
  
  textarea{
    width: 100%;
    height: 35vh;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  
  input[type=checkbox]{
      display:inline;
      width:inherit;
  }
  
  input[type=submit] {
    background-color: rgba(253, 194, 204, 0.829);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  input[type=submit]:hover {
    opacity: 0.8;
  }

  .contact-form1{
    background-image: url('../images/about-me-valley-of-fire.jpg');
  }
  
  
  
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (min-width: 770px) {
    form{
      width: 80%;
      margin: 0 auto;
    }

    label{ 
      display: inline-block;
    }
  
    input{
      width:80%;
    }
  
    textarea{
      width:80%;
      height: 25vh;
   }
   
   div + label{
      line-height: 25vh;
      vertical-align:top;
   }
  }

  @media screen and (prefers-reduced-motion: reduce){
    #logo{ 
      animation: none;
    }
    .diary-parallax{ 
      background-attachment: scroll;
    }
    .gallery-slide{ 
      display: none;
    }
    .about-me, .index-grid{
      margin-top:0;
    }
    .flip-card:hover .flip-card-inner, .flip-card:focus .flip-card-inner { 
      transition: none;
      transform: none;
    }
    p#intro { 
      animation: none;
    }
  }
